@model classicGarage.Models.CarModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.owner.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePurchase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

    </dl>
</div>
<p>



    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")

</p>

